<section id="dviseauth">
	<h2>Sign in</h2>

	<h3>Sign in with your CommunityGuides account -- OR -- use an authentication service</h3>

	<div id="local" class="box">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<p><%= f.label :email %></p>
			<%= f.text_field :email %>

			<p><%= f.label :password %></p>
			<%= f.text_field :password %>

			<% if devise_mapping.rememberable? %>
				<p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
			<% end %>

			<p><%= f.submit "Sign in" %></p>
		<% end %>
	</div>

	<div id="remote">
    <div id="terms" class="box">
        <%= link_to "Terms of Service", "#" %> 
    </div>  
    <div id="services" class="box">
        <%= link_to image_tag("facebook_64.png", :size => "64x64",  :alt => "Facebook") + "Facebook", user_omniauth_authorize_path(:facebook), { :class => 'services2' } %>
        <%= link_to image_tag("twitter_64.png", :size => "64x64",  :alt => "Twitter") + "Twitter", user_omniauth_authorize_path(:twitter), { :class => 'services2' } %>
    </div>
  </div>

  <div id="devise_links">
     <%= render :partial => "devise/shared/links" %>
  </div>
</section>